@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--header-bg-color);
}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 22rem; /* Footer height */
}

/*------------------------------------------------------Common colors/Heading settings  */

:root {
  --header-bg-color: rgba(15, 15, 15, 1);

  --font-color-main: #fafafa;

  --secondary-color: #ff6ec7;

  --third-color: #00f9ff;
}

.section-heading {
  text-align: center;
  color: var(--font-color-main);
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
  font-weight: 700;
  text-transform: capitalize;
}

/*------------------------------------------------------Navigation bar */
.bg-dark {
  background: rgba(
    15,
    15,
    15,
    0.8
  ) !important; /* override bg-dark !important setting */
}

.navbar-dark {
  color: var(--font-color-main);
}

.icon {
  /* used to style the burger-icon from font-awesome on smaller screens */
  color: var(--font-color-main);
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
}

.navbar-brand {
  color: var(--font-color-main);
  font-family: "Press Start 2P", sans-serif;
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
  text-decoration: none;
}

.navbar-brand:hover {
  color: var(--font-color-main);
  text-shadow: 0 0 5px #00f9ff, 0 0 10px #00f9ff, 0 0 15px #00f9ff,
    0 0 20px #00f9ff, 0 0 30px #00f9ff, 0 0 40px #00f9ff, 0 0 50px #00f9ff,
    0 0 60px #00f9ff;
}

#nav-font {
  font-family: "Roboto";
  margin-bottom: 0;
}

#nav-font li.active:after {
  content: "";
  height: 1px;
  display: block;
  background: var(--secondary-color);
}

#nav-font a {
  color: var(--font-color-main);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#nav-font li {
  padding: 5px 20px;
  margin-right: 10px;
}

.nav-link:hover {
  color: var(--font-color-main);
  opacity: 0.8;
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
}

/*------------------------------------------------------Hero Section */

.hero-section {
  height: 80vh;
  max-width: 100%;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.3),
      rgba(15, 15, 15, 0.3)
    ),
    url("../images/hero-image.jpg") center center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  color: var(--font-color-main);
  font-family: "Roboto";
  text-transform: uppercase;
}

.hero-text i {
  color: var(--secondary-color);
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
}

.hero-text .fa-heartbeat {
  font-size: 3.5rem;
  animation: pulse 1.8s infinite;
}

@keyframes pulse {
  0%,
  51% {
    transform: scale(1);
  }

  20%,
  70% {
    transform: scale(1.1);
  }

  30%,
  90% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.1);
  }
}

.hero-text h1 {
  font-size: 3.5rem;
}

.hero-text h2 {
  font-size: 2.5rem;
}

.hero-text p {
  font-size: 2rem;
}

.cta-hero {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--header-bg-color);
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Roboto";
  text-transform: uppercase;
}

.cta-hero:hover {
  color: var(--header-bg-color);
  background-color: #fafafa;
  animation: pulse-button 1.8s linear 3;
  text-decoration: none;
}

@keyframes pulse-button {
  0%,
  50%,
  100% {
    transform: scale(1);
  }

  20%,
  70% {
    transform: scale(1.1);
  }

  30%,
  90% {
    transform: scale(0.9);
  }
}

.cta-hero i {
  color: var(--header-bg-color);
}

.cta-hero:hover i {
  animation: rotation 0.2s linear forwards;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(90deg);
    color: var(--secondary-color);
  }
}
