@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--header-bg-color);
}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 22rem; /* Footer height */
}

/*------------------------------------------------------Common colors/Heading settings  */

:root {
  --header-bg-color: rgba(15, 15, 15, 1);

  --font-color-main: #fafafa;

  --secondary-color: #ff6ec7;

  --third-color: #00f9ff;
}