@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--header-bg-color);
}

#page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 22rem; /* Footer height */
}

/*------------------------------------------------------Common colors/Heading settings  */

:root {
  --header-bg-color: rgba(15, 15, 15, 1);

  --font-color-main: #fafafa;

  --secondary-color: #ff6ec7;

  --third-color: #00f9ff;
}

.section-heading {
  text-align: center;
  color: var(--font-color-main);
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
  font-weight: 700;
  text-transform: capitalize;
}

/*------------------------------------------------------Navigation bar */
.bg-dark {
  background: rgba(
    15,
    15,
    15,
    0.8
  ) !important; /* override bg-dark !important setting */
}

.navbar-dark {
  color: var(--font-color-main);
}

.icon {
  /* used to style the burger-icon from font-awesome on smaller screens */
  color: var(--font-color-main);
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
}

.navbar-brand {
  color: var(--font-color-main);
  font-family: "Press Start 2P", sans-serif;
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
  text-decoration: none;
}

.navbar-brand:hover {
  color: var(--font-color-main);
  text-shadow: 0 0 5px #00f9ff, 0 0 10px #00f9ff, 0 0 15px #00f9ff,
    0 0 20px #00f9ff, 0 0 30px #00f9ff, 0 0 40px #00f9ff, 0 0 50px #00f9ff,
    0 0 60px #00f9ff;
}

#nav-font {
  font-family: "Roboto";
  margin-bottom: 0;
}

#nav-font li.active:after {
  content: "";
  height: 1px;
  display: block;
  background: var(--secondary-color);
}

#nav-font a {
  color: var(--font-color-main);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#nav-font li {
  padding: 5px 20px;
  margin-right: 10px;
}

.nav-link:hover {
  color: var(--font-color-main);
  opacity: 0.8;
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
}

/*------------------------------------------------------Hero Section */

.hero-section {
  height: 80vh;
  max-width: 100%;
  background: linear-gradient(
      0deg,
      rgba(15, 15, 15, 0.3),
      rgba(15, 15, 15, 0.3)
    ),
    url("../images/hero-image.jpg") center center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  color: var(--font-color-main);
  font-family: "Roboto";
  text-transform: uppercase;
}

.hero-text i {
  color: var(--secondary-color);
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
}

.hero-text .fa-heartbeat {
  font-size: 3.5rem;
  animation: pulse 1.8s infinite;
}

@keyframes pulse {
  0%,
  51% {
    transform: scale(1);
  }

  20%,
  70% {
    transform: scale(1.1);
  }

  30%,
  90% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.1);
  }
}

.hero-text h1 {
  font-size: 3.5rem;
   text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
     font-family: "Press Start 2P", sans-serif;
}

.hero-text h2 {
  font-size: 2.5rem;
}

.hero-text p {
  font-size: 2rem;
}

.cta-hero {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--header-bg-color);
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Roboto";
  text-transform: uppercase;
}

.cta-hero:hover {
  color: var(--header-bg-color);
  background-color: #fafafa;
  animation: pulse-button 1.8s linear 3;
  text-decoration: none;
}

@keyframes pulse-button {
  0%,
  50%,
  100% {
   padding: 5px 10px;
  }

  20%,
  70% {
    padding: 10px 15px;
  }

  30%,
  90% {
    padding: 4px 9px;
  }
}

.cta-hero i {
  color: var(--header-bg-color);
}

.cta-hero:hover i {
  animation: rotation 0.2s linear forwards;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(90deg);
    color: var(--secondary-color);
  }
}

/*------------------------------------------------------Choose your Game Section */

.choose-game .section-heading {
  margin-top: 40px;
  margin-bottom: 40px;
}

.placeholder {
  margin: 20px 0px 40px 0px;
  width: 33vw;
  height: 350px;
  overflow: hidden;
  padding: 0;
  position: relative;
  border-top: 2px solid #ff22a9;
  border-bottom: 2px solid #ff22a9;
}

.game-bg-dota {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-image: url("../images/dota-background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  transition: all 0.5s;
}

.game-bg-lol {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-image: url("../images/lol-background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  transition: all 0.5s;
}

.game-bg-cs {
  width: 100%;
  height: 100%;
  background-color: black; /* fallback color */
  background-image: url("../images/cs-background.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  transition: all 0.5s;
}

.game-bg-dota img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-bg-lol img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-bg-cs img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.placeholder:hover .game-bg-dota {
  transform: scale(1.2);
}

.placeholder:hover .game-bg-lol {
  transform: scale(1.2);
}

.placeholder:hover .game-bg-cs {
  transform: scale(1.2);
}

/*------------------------------------------------------Join Us Section */

.join-us-section {
  width: 100%;
  height: 30vh;
  padding: 0 12.5%;
  margin-bottom: 50px;
}
.join-us-section .section-heading {
  margin-bottom: 50px;
}

.join-us {
  display: flex;
  margin: 20px auto 40px auto;
  padding: 40px 5px;
  border-top: 3px solid var(--secondary-color);
  border-bottom: 3px solid var(--secondary-color);
  flex-direction: column;
}

.social-container {
  width: 100%;
  text-align: center;
  font-family: "Press Start 2P";
  font-size: 1.5rem;
}

.social-container a {
  color: var(--font-color-main);
}

.social-container a p,
.social-container a p i {
  display: inline-block;
  margin-top: 5px;
}

.social-container a:hover {
  color: var(--font-color-main);
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
  text-decoration: none;
}

.social-container i {
  color: var(--secondary-color);
  font-size: 2.5rem;
}

.social-container a:hover i {
  text-shadow: none;
}

/*------------------------------------------------------Footer */
footer {
  background: rgb(48, 46, 46);
  color: var(--font-color-main);
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer h3 a {
  color: var(--font-color-main);
  font-weight: 700;
  font-size: 1.25rem;
}

footer h3 a:hover {
  text-decoration: none;
  color: var(--font-color-main);
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
}

.footer-social {
  text-align: center;
  color: var(--font-color-main);
  font-size: 1.25rem;
  font-weight: 700;
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
}

.footer-social i {
  font-size: 1.25rem;
  color: var(--secondary-color);
  margin-right: 2px;
  text-shadow: none;
}

#pulze-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*------------------------------------------------------Event Page */

/*------------------------------------------------------event-page hero section */

.game-hero-section {
  height: 80vh;
  max-width: 100%;
  background: linear-gradient(
      0deg,
      rgba(235, 6, 132, 0.6),
      rgba(218, 20, 208, 0.3)
    ),
    url("../images/event_hero_img.jpg") center center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.game-hero-text {
  color: var(--font-color-main);
}

.game-hero-text h1 {
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
  text-shadow: 0 0 5px var(--secondary-color), 0 0 10px var(--secondary-color),
    0 0 15px #fff, 0 0 20px var(--secondary-color),
    0 0 30px var(--secondary-color), 0 0 40px var(--secondary-color),
    0 0 50px var(--secondary-color), 0 0 60px var(--secondary-color);
  margin-top: 20px;
  font-size: 3.5rem;
}

.how-to {
  text-align: center;
  margin-top: 100px;
}

.how-to i {
  font-size: 3rem;
  margin-bottom: 20px;
}

.how-to p {
  font-size: 1.5rem;
  text-transform: uppercase;
}

a.game-cta-hero {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--header-bg-color);
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Roboto";
  text-transform: uppercase;
}

a.game-cta-hero:hover {
  color: var(--header-bg-color);
  background-color: #fafafa;
  animation: pulse-button 1.8s linear 3;
  text-decoration: none;
}

@keyframes pulse-button {
  0%,
  50%,
  100% {
    padding: 5px 10px;
  }

  20%,
  70% {
    padding: 10px 15px;
  }

  30%,
  90% {
    padding: 4px 9px;
  }
}

.game-cta-hero i {
  color: var(--header-bg-color);
}

.game-cta-hero:hover i {
  animation: rotation 0.2s linear forwards;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(90deg);
    color: var(--secondary-color);
  }
}

.link-container {
  text-align: center;
}

/*------------------------------------------------------ Our Events Section */


.events h2 {
  margin-top: 20px;
}

.geo-heading {
  margin-left: 10px;
  color: var(--font-color-main);
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
}
.geo {
  padding: 5px 10px;
  border-radius: 10px;
  color: var(--font-color-main);
  font-size: 0.75rem;
  font-weight: 700;
  font-family: "Roboto";
  text-transform: uppercase;
  text-align: center;
  background-color: var(--header-bg-color);
  border: 3px solid;
}
.geo.na {
  border-color: rgb(59, 203, 223);
}

.geo.eu {
  border-color: rgb(175, 61, 61);
}

.geo.nea {
  border-color: rgb(190, 148, 33);
}

.event-table {
  margin-top: 20px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ff22a9;
  border-bottom: 1px solid #ff22a9;
  padding: 20px 0px;
}

.day {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background-color: var(--font-color-main);
  text-align: center;
  position: relative;
  margin: 0px 30px;
  text-transform: uppercase;
}

.day-text {
  color: var(--header-bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.75rem;
  font-weight: 700;
}

.tournament-card-container {
  display: flex;
  flex-direction: row;
}

.tournament {
  text-align: center;
  width: 300px;
  height: 350px;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  margin: 0px 25px;
}

.tournament.na {
  background-color: rgb(59, 203, 223);
}

.tournament.eu {
  background-color: rgb(175, 61, 61);
}

.tournament.nea {
  background-color: rgb(190, 148, 33);
}
.event-heading {
  font-size: 1.5rem;
  font-family: "Press Start 2P", sans-serif;
  padding-top: 20px;
  color: var(--header-bg-color);
}

.container-img {
  width: 100%;
  height: 25%;
}
.container-img img {
  width: 80%;
  height: 100%;
}

.tournament i {
  font-size: 2rem;
  color: var(--header-bg-color);
}

.tournament span {
  font-size: 1.25rem;
  color: var(--header-bg-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.card-spacing {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 20px;
}
button.event-sign-up {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12.5%;
  left: 0;
  background: linear-gradient(45deg,	rgb(255,110,199),  rgb(228, 190, 212),	rgb(245, 67, 171),	rgb(236, 37, 160));
  border: none;
  padding: 5px 10px;
  color: var(--header-bg-color);
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Roboto";
  text-transform: capitalize;
  border-radius: 0px 0px 10px 10px;
  background-size: 300% 300%;
}

button.event-sign-up:hover{

     animation: event-btn 5s ease infinite;
     color:var(--header-bg-color);
}

button.event-sign-up:focus,button.event-sign-up:focus-within {
    box-shadow: none;
    border: none;
}



@keyframes event-btn {

	0% {

		background-position: 0% 0%;

	}

    25%{

        background-position: 50% 50%;

    }

	50% {

		background-position: 100% 50%;

	}



    75%{

        background-position: 50% 50%;

    }

	100% {

		background-position: 0% 50%;

	}

}

.event-border {
  border-top: none;
}

/*------------------------------------------------------Modal */

.form-heading{
    display: block;
    text-align: left;
    margin-bottom: 0.125rem;
}
.modal-form{
    width:100%;
    margin-bottom: 0.5rem;
}

.modal-radio{
    display: block;
    float: left;
    margin-right: 5px;
}

div.modal{
    font-family: "Roboto",sans-serif;
    color:var(--font-color-main);
}

div.modal-content{
    background-color: var(--header-bg-color);
}

input.modal-close{
    color: var(--font-color-main);
    background: linear-gradient(45deg,	rgb(255,110,199),  rgb(228, 190, 212),	rgb(241, 105, 184),	rgb(240, 102, 187));
    background-size: 300% 400%;
    border:none;
    padding: 10px;
    float: right;
}

input.modal-close:hover{

     animation: modal-btn 5s ease infinite;
     color:var(--header-bg-color);
}



@keyframes modal-btn {

	0% {

		background-position: 0% 0%;

	}

    25%{

        background-position: 50% 50%;

    }

	50% {

		background-position: 100% 50%;

	}



    75%{

        background-position: 50% 50%;

    }

	100% {

		background-position: 0% 50%;

	}

}


/*------------------------------------------------------Media Queries */

@media only screen and (min-width: 1800px) {
  .section-heading {
    font-size: 4.5rem;
  }

  .navbar-brand {
    font-size: 2rem;
  }
  .nav-link {
    font-size: 2rem;
  }
  div a#cta-download {
    font-size: 2rem;
  }
  .hero-text h1 {
    font-size: 6rem;
  }

  .hero-text h2 {
    font-size: 4rem;
  }

  .hero-text p {
    font-size: 3rem;
  }

  .hero-text .fa-heartbeat {
    font-size: 6rem;
  }

  .cta-hero {
    font-size: 2rem;
  }

  .placeholder {
    height: 600px;
  }
  .social-container a p {
    font-size: 4rem;
  }

  .social-container i {
    font-size: 5rem;
  }

  footer {
    height: 10rem;
  }

  footer h3 a {
    font-size: 2.25rem;
  }

  .footer-social h3 {
    font-size: 3rem;
  }

  .footer-social i {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1060px) and (max-width: 1800px) {

    #content-wrap {
  padding-bottom: 15rem; /* Footer height */
}
  .join-us-section .section-heading {
    margin-bottom: 100px;
  }
  .join-us {
    flex-direction: row;
  }
  .social-container a p {
    margin-top: 5px;
  }
  .social-container a p {
    margin-right: 5px;
    font-size: 1rem;
  }
  .social-container i {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  
  .section-heading{
      font-size:2.5rem;
  }
 

  .hero-text .fa-heartbeat {
font-size: 3rem;
}

.hero-text h1 {
  font-size: 2.5rem;
}

.hero-text h2 {
  font-size: 2rem;
}

.hero-text p {
  font-size: 1.5rem;
}

.game-bg-lol img{
    width: 150px;
    line-height: 200px;
}

 .footer-links {
    width: 100%;
    display: block;
  }

  #content-wrap {
    padding-bottom: 33rem; /* Footer height */
  }

  .join-us{
      margin-top: -40px;
  }

  footer {
    height: 25rem;
    display: block;
    text-align: center;
  }

  #pulze-footer {
    flex-direction: column;
  }

  .footer-social h3 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .social-links li {
    display: block;
    margin-bottom: 10px;
  }
  .social-links li a {
    color: #fafafa;
    text-decoration: none;
  }
  .social-text {
    display: inline-block !important; /* used to help the User click the social media links on smaller screens */
    margin-right: 6px;
    text-shadow: none;
  }
}

@media only screen and (max-width: 386px){
    .hero-text{
        margin-top: 50px;
    }
.cta-hero{
    margin-top: -10px;
}

.social-container p {
    font-size: 1.25rem;
}
